html {
	background-color: #eee;
	padding: 0 calc(50% - 18rem);
}

body {
	background-color: #fff;
	min-height: 100vh;
	padding: 0 2rem;
}

a {
	color: black;
	font-weight: bold;
	text-decoration: underline;
	padding: 0.2rem 0.5rem;
	padding-right: 0;
}

a:hover {
	color: orangered;
	/* background-color: #eee;
	border-radius: 0.2rem; */
}

[v-cloak] {
	display: none;
}

main {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;
	height: calc(var(--vh) * 100);
	margin: 0 auto;
}

main > * {
	margin: 0;
	margin-bottom: 1.0rem;
}

.title {
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	font-weight: 400;
	margin: 0.5rem 0;
}

.datasource {
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}

input {
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	background-color: #eee;
	outline-color: #888;
	border: none;
	padding: 0.8rem;
}

input::placeholder {
	color: #888;
}

.normal-list, .normal-list-horizontal {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	min-height: 3.0rem;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	padding: 0;
}

.normal-list-horizontal {
	flex-flow: row wrap;
	padding: 0.5rem;
	background-color: #eee;
	/* outline: 1px solid orangered; */
}

.normal-list-item, .normal-list-item-horizontal {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 800;
}

.normal-list-item-horizontal {
	margin: 0.2rem;
	padding: 0.2rem 0.5rem;
	background-color: #fff;
	border-radius: 0.2rem;
	border: 1px solid #888;
}

.normal-list-item:hover, .normal-list-item-horizontal:hover {
	background-color: #eee;
}

.normal-icon {
	width: 2.0rem;
	height: 2.0rem;
	margin: 0.5rem;
	flex-shrink: 0;
}

.small-icon {
	width: 1.0rem;
	height: 1.0rem;
	margin: 0.5rem;
}

.keyword-highlight {
	background-color: rgba(255, 69, 0, 0.3); /* orangered */
	border-radius: 0.2rem;
}

.legend-list {
	display: flex;
	flex-flow: row wrap;
	background-color: #eee;
	border-radius: 0.2rem;
	padding: 0.5rem;
	margin-bottom: 0;
	list-style: none;
}

.legend-list-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0.2rem;
	margin-right: 0.5rem;
}
.legend-list-item:last-child {
	margin-right: 0;
}

.legend-icon {
	width: 1.0rem;
	height: 1.0rem;
	margin: 0.2rem;
}

.popup-fill {
	position: fixed;
	display: flex;
	justify-content: center;
	overflow: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.7);
	opacity: 1;
}

.popup-enter-active, .popup-leave-active {
	transition: opacity .1s;
}

.popup-enter, .popup-leave-to {
	opacity: 0;
}

.popup-window {
	position: relative;
	align-self: center;
	width: 100%;
	height: auto;
	margin: 0 calc(50% - 16rem);
	padding: 2.5rem;
	background-color: white;
	border-radius: 0.2rem;
	outline: none;
}

.popup-title {
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5rem;
}

.popup-close-box {
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	top: 0; right: 0;
	width: 2.5rem;
	height: 2.5rem;
	background-color: transparent;
	transition: background-color 0.1s;
	border-top-right-radius: 0.2rem;
}

.popup-close {
	font-size: 1.5rem;
	text-align: center;
	user-select: none;
}

.popup-pager-box {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.popup-prev, .popup-next {
	font-size: 2.0rem;
	text-align: center;
	width: 2.5rem;
	height: 3.4rem;
	user-select: none;
	background-color: transparent;
	transition: background-color 0.1s;
}

.popup-close-box:hover, .popup-prev:hover, .popup-next:hover {
	background-color: orangered;
}

.popup-content-box {
	position: relative;
	display: flex;
	align-self: center;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* outline: 1px solid orangered; */
}

.popup-content-box > * {
	margin: 0;
	margin-bottom: 0.5rem;
	text-align: center;
}

.popup-content-box > *:last-child {
	margin-bottom: 0;
}

.popup-category-icon {
	width: 6.0rem;
	height: 6.0rem;
}
.popup-category-text {
	font-size: 2.0rem;
}
.popup-note-icon {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
}
.popup-note-text {
	font-size: 1.5rem;
	max-height: 20vh;
	overflow-y: auto;
}
