<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet"  href="css/sanitize.css">
<link rel="stylesheet"  href="css/typography.css">
<link rel="stylesheet"  href="css/style.css">
<script src="js/vue.js"></script>
<script>
  // Adjust page height for mobile Chrome
  let vh = window.innerHeight * 0.01; 
  document.documentElement.style.setProperty('--vh', `${vh}px`); 
  window.addEventListener('resize', () => { 
    vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`); 
  }); 
</script>
<title>Gomipedia</title>

<div id="app" v-cloak>

<main>
  <h1 class="title">
    <label v-if="selectedMunic"><a href="javascript:void(0)" @click="openMunicPopup">{{selectedMunic.name}}</a>の</label>ごみ分別検索
  </h1>
  <input class="keyword-input" :placeholder="placeholder" v-model="articleKeyword">
  <ul class="normal-list">
    <list-item
      class="normal-list-item"
      v-for="article in visibleArticles"
      ref="article"
      :key="article.no"
      :data="article"
      :text="article.name"
      :image="categoryMap[article.categoryId].image"
      :exclamation="article.note ? true : false"
      :click="articleClicked"
      :highlighter="getKeywordHighlighted">
    </list-item>
  </ul>
  <ul class="legend-list" v-if="gomidataAvailable">
    <legend-list-item
      v-for="categoryId in legendCategoryIds"
      :key="categoryMap[categoryId].name"
      :text="categoryMap[categoryId].name"
      :image="categoryMap[categoryId].image">
    </list-item-legend>
  </ul>
  <div class="datasource" v-if="gomidataAvailable">
    <a :href="dataSourceUrl">分別データ取得元</a>
  </div>
</main>

<transition name="popup">
  <div class="popup-fill" v-if="municPopupVisible" @click="closeMunicPopup">
    <div class="popup-window" tabindex="0" ref="popupWindow" @click="dummy" @keydown="articlePopupKeydown">
      <div class="popup-title">自治体を選びましょう</div>
      <div class="popup-close-box" v-if="gomidataAvailable" @click="closeMunicPopup">
        <div class="popup-close">✖</div>
      </div>
      <div class="popup-content-box">
        <!-- <input class="munic-input" v-model="municKeyword"> -->
        <ul class="normal-list-horizontal">
          <list-item
            class="normal-list-item-horizontal"
            v-for="id in Object.keys(allMunicMap)"
            ref="id"
            :key="id"
            :data="allMunicMap[id]"
            :text="allMunicMap[id].name"
            :click="popupMunicClicked">
          </list-item>
        </ul>
      </div>
    </div>
  </div>
</transition>

<transition name="popup">
  <div class="popup-fill" v-if="selectedArticle" @click="closeArticlePopup">
    <div class="popup-window" tabindex="0" ref="popupWindow" @click="dummy" @keydown="articlePopupKeydown">
      <div class="popup-pager-box">
        <div class="popup-prev" @click="moveArticleSelection(-1, true)">&lt;</div>
        <div class="popup-next" @click="moveArticleSelection(+1, true)">&gt;</div>
      </div>
      <div class="popup-close-box" @click="closeArticlePopup">
        <div class="popup-close">✖</div>
      </div>
      <div class="popup-content-box">
        <div class="popup-category-text"><strong>{{selectedArticle.name}}</strong> は</div>
        <img class="popup-category-icon" :src="categoryMap[selectedArticle.categoryId].image"/>
        <div class="popup-category-text"><strong>{{categoryMap[selectedArticle.categoryId].name}}</strong> です。</div>
        <img class="popup-note-icon" src="img/note.png" v-if="selectedArticle.note"/>
        <div class="popup-note-text" v-if="selectedArticle.note">{{selectedArticle.note}}</div>
      </div>
    </div>
  </div>
</transition>

</div>

<script src="js/kana2roman.js"></script>
<script src="js/main.js"></script>
